<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.exampleproject">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ExampleProject">
        <activity android:name=".GraphicalRep.ScatteredChartActivity"></activity>
        <activity android:name=".GraphicalRep.CandleStickChartActivity" />
        <activity android:name=".GraphicalRep.BubbleChartActivity" />
        <activity android:name=".GraphicalRep.LineChartActivity" />
        <activity android:name=".GraphicalRep.RadarChartActivity" />
        <activity android:name=".GraphicalRep.PieChartActivity" />
        <activity android:name=".GraphicalRep.GraphicalActivity" />
        <activity android:name=".CaptureImage.CapturingImageActivity" />
        <activity android:name=".ImageOneByOne.PickImageActivity" />
        <activity android:name=".LoadallImage.MainActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA_yKuCEcYFrXir2HoCxI108PNE4_uSeE8" />

        <activity android:name=".Map.MapActivity" />
        <activity android:name=".LoadallImage.NewActivity" />
        <activity android:name=".Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>